Import das bibliotecas necessárias

In [1]:
import psycopg2 as pg
import pandas as pd
import ipywidgets as widgets
from IPython.display import display

Configuração da conexão com o banco de dados PostgreSQL

In [2]:
try:
  conn = pg.connect(database="projeto-fbd",host="localhost",port=5432,user='postgres',password='198019')
  print('conexão concluida')
except(Exception) as error:
  #print(error)
  print('conexão não concluida')

conexão concluida

Criação de widgets

In [3]:
#criando os widgets
try:
    tipo = widgets.Text(disbled=False, placeholder='Digite o tipo de exame', description = 'Tipo de exame', value = '')
    dia = widgets.Text(disbled=False, placeholder='Digite o dia', description = 'Dia', value = '')
    mes = widgets.Text(disbled=False, placeholder='Digite o mês', description = 'Mês', value = '')
    ano = widgets.Text(disbled=False, placeholder='Digite o ano', description = 'Ano', value = '')
    nome = widgets.Text(disbled=False, placeholder='Digite o nome', description = 'Nome', value = '')
    exame_id = widgets.Text(disbled=False, placeholder='Digite o id do exame', description = 'Id do exame', value = '')
    finalidade = widgets.Text(disbled=False, placeholder='Digite a finalidade', description = 'Finalidade', value = '')
    cpf_usuario = widgets.Text(disbled=False, placeholder='Digite o cpf do usuário', description = 'Cpf do usuário', value = '')
except(Exception) as error:
    print('erro ao criar os widgets',error)

Criação de botões e criação das suas funções

In [4]:
createButton = widgets.Button(description='Criar')
readButton = widgets.Button(description='Consultar')
updateButton = widgets.Button(description='Atualizar')
deleteButton = widgets.Button(description='Deletar')
readPerIdButton = widgets.Button(description='Consultar por Id')
output = widgets.Output()


#criando as funções

def onCreateButton(b):
    try:
        tipo_value = str(tipo.value)
        dia_value = int(dia.value)
        mes_value = int(mes.value)
        ano_value = int(ano.value)
        nome_value = str(nome.value)
        exame_id_value = int(exame_id.value)
        finalidade_value = str(finalidade.value)
        cpf_usuario_value = str(cpf_usuario.value)

        cursor = conn.cursor()
        cursor.execute('insert into Exame(Tipo,Dia,Mes,Ano,Nome,ExameId,Finalidade,CpfUsuario) values(%s,%s,%s,%s,%s,%s,%s,%s)',
                       (tipo_value,dia_value,mes_value,ano_value,nome_value,exame_id_value,finalidade_value,cpf_usuario_value))
        df = pd.read_sql_query('SELECT * from Exame', conn)
        try:
            display(df)
        except:
            display('erro ao mostrar o dataframe')
    except (Exception, pg.Error) as error:
        conn.rollback()
        print('erro ao inserir os dados',error)
    finally:
        conn.commit()
        cursor.close()

def onReadButton(b):
    try:
        cursor = conn.cursor()
        cursor.execute('select * from Exame')
        df = pd.read_sql_query('SELECT * from Exame', conn)
        try:
            display(df)
        except:
            display('erro ao mostrar o dataframe')
    except (Exception, pg.Error) as error:
        conn.rollback()
        print('erro ao ler os dados',error)
    finally:
        conn.commit()
        cursor.close()
    

def onUpdateButton(b):
    try:
        tipo_value = str(tipo.value)
        dia_value = int(dia.value)
        mes_value = int(mes.value)
        ano_value = int(ano.value)
        nome_value = str(nome.value)
        exame_id_value = int(exame_id.value)
        finalidade_value = str(finalidade.value)
        cpf_usuario_value = str(cpf_usuario.value)

        cursor = conn.cursor()
        cursor.execute('update Exame set Tipo = %s, Dia = %s, Mes = %s, Ano = %s, Nome = %s, ExameId = %s, Finalidade = %s, CpfUsuario = %s where ExameId = %s',
                       (tipo_value,dia_value,mes_value,ano_value,nome_value,exame_id_value,finalidade_value,cpf_usuario_value,exame_id_value))

        df = pd.read_sql_query('SELECT * from Exame', conn)
        try:
            display(df)
        except:
            display('erro ao mostrar o dataframe')
    except (Exception, pg.Error) as error:
        conn.rollback()
        print('erro ao atualizar os dados',error)
    finally:
        conn.commit()
        cursor.close()

def onDeleteButton(b):
    try:
        cpf_usuario_value = str(cpf_usuario.value)

        cursor = conn.cursor()
        cursor.execute('delete from Exame where CpfUsuario = %s',(cpf_usuario_value,))

        df = pd.read_sql_query('SELECT * from Exame', conn)
        try:
            display(df)
        except:
            display('erro ao mostrar o dataframe')
    except (Exception, pg.Error) as error:
        conn.rollback()
        print('erro ao deletar os dados',error)
    finally:
        conn.commit()
        cursor.close()

def onReadPerIdButton(b):
    try:
        exame_id_value = int(exame_id.value)
        cursor = conn.cursor()
        cursor.execute('select * from Exame where ExameId = %s',(exame_id_value,))
        query = 'select * from Exame where ExameId = %s' % (exame_id_value) 
        df = pd.read_sql_query(query, conn)
        try:
            display(df)
        except:
            display('erro ao mostrar o dataframe')
    except (Exception, pg.Error) as error:
        conn.rollback()
        print('erro ao ler os dados',error)
    finally:
        conn.commit()
        cursor.close()
    

createButton.on_click(onCreateButton)
readButton.on_click(onReadButton)
updateButton.on_click(onUpdateButton)
deleteButton.on_click(onDeleteButton)
readPerIdButton.on_click(onReadPerIdButton)

/tmp/ipykernel_7494/563438940.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('SELECT * from Exame', conn)

,tipo,dia,mes,ano,nome,exameid,finalidade,cpfusuario
0,Colesterol,15,4,2023,Exame de Sangue,2,Acompanhamento de saude,23456789012
1,Glicemia,5,2,2023,Exame de Sangue,3,Acompanhamento de saude,34567890123
2,Pressão Arterial,20,4,2023,Afericao de Pressão,4,Acompanhamento de saude,45678901234
3,Hemograma,8,3,2023,Exame de Sangue,5,Acompanhamento de saude,56789012345
4,Colesterol,22,4,2023,Exame de Sangue,6,Acompanhamento de saude,67890123456
5,Glicemia,12,2,2023,Exame de Sangue,7,Acompanhamento de saude,78901234567
6,Pressão Arterial,25,4,2023,Afericao de Pressão,8,Acompanhamento de saude,89012345678
7,Hemograma,6,3,2023,Exame de Sangue,9,Acompanhamento de saude,90123456789
8,Colesterol,18,4,2023,Exame de Sangue,10,Acompanhamento de saude,01234567890
9,Hemograma,1,1,2004,Exame de sangue,30,Saude,12345678901

/tmp/ipykernel_7494/563438940.py:69: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('SELECT * from Exame', conn)

,tipo,dia,mes,ano,nome,exameid,finalidade,cpfusuario
0,Colesterol,15,4,2023,Exame de Sangue,2,Acompanhamento de saude,23456789012
1,Glicemia,5,2,2023,Exame de Sangue,3,Acompanhamento de saude,34567890123
2,Pressão Arterial,20,4,2023,Afericao de Pressão,4,Acompanhamento de saude,45678901234
3,Hemograma,8,3,2023,Exame de Sangue,5,Acompanhamento de saude,56789012345
4,Colesterol,22,4,2023,Exame de Sangue,6,Acompanhamento de saude,67890123456
5,Glicemia,12,2,2023,Exame de Sangue,7,Acompanhamento de saude,78901234567
6,Pressão Arterial,25,4,2023,Afericao de Pressão,8,Acompanhamento de saude,89012345678
7,Hemograma,6,3,2023,Exame de Sangue,9,Acompanhamento de saude,90123456789
8,Colesterol,18,4,2023,Exame de Sangue,10,Acompanhamento de saude,01234567890
9,Hemograma,8,3,2004,Exame de gravidez,30,Saude,12345678901

/tmp/ipykernel_7494/563438940.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('SELECT * from Exame', conn)

,tipo,dia,mes,ano,nome,exameid,finalidade,cpfusuario
0,Colesterol,15,4,2023,Exame de Sangue,2,Acompanhamento de saude,23456789012
1,Glicemia,5,2,2023,Exame de Sangue,3,Acompanhamento de saude,34567890123
2,Pressão Arterial,20,4,2023,Afericao de Pressão,4,Acompanhamento de saude,45678901234
3,Hemograma,8,3,2023,Exame de Sangue,5,Acompanhamento de saude,56789012345
4,Colesterol,22,4,2023,Exame de Sangue,6,Acompanhamento de saude,67890123456
5,Glicemia,12,2,2023,Exame de Sangue,7,Acompanhamento de saude,78901234567
6,Pressão Arterial,25,4,2023,Afericao de Pressão,8,Acompanhamento de saude,89012345678
7,Hemograma,6,3,2023,Exame de Sangue,9,Acompanhamento de saude,90123456789
8,Colesterol,18,4,2023,Exame de Sangue,10,Acompanhamento de saude,01234567890
9,Hemograma,8,3,2004,Exame de gravidez,30,Saude,12345678901

/tmp/ipykernel_7494/563438940.py:106: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

,tipo,dia,mes,ano,nome,exameid,finalidade,cpfusuario
0,Hemograma,8,3,2004,Exame de gravidez,30,Saude,12345678901

/tmp/ipykernel_7494/563438940.py:88: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('SELECT * from Exame', conn)

,tipo,dia,mes,ano,nome,exameid,finalidade,cpfusuario
0,Colesterol,15,4,2023,Exame de Sangue,2,Acompanhamento de saude,23456789012
1,Glicemia,5,2,2023,Exame de Sangue,3,Acompanhamento de saude,34567890123
2,Pressão Arterial,20,4,2023,Afericao de Pressão,4,Acompanhamento de saude,45678901234
3,Hemograma,8,3,2023,Exame de Sangue,5,Acompanhamento de saude,56789012345
4,Colesterol,22,4,2023,Exame de Sangue,6,Acompanhamento de saude,67890123456
5,Glicemia,12,2,2023,Exame de Sangue,7,Acompanhamento de saude,78901234567
6,Pressão Arterial,25,4,2023,Afericao de Pressão,8,Acompanhamento de saude,89012345678
7,Hemograma,6,3,2023,Exame de Sangue,9,Acompanhamento de saude,90123456789
8,Colesterol,18,4,2023,Exame de Sangue,10,Acompanhamento de saude,01234567890

Exibir widgets

In [5]:
with output:
    display(tipo)
    display(dia)
    display(mes)
    display(ano)
    display(nome)
    display(exame_id)
    display(finalidade)
    display(cpf_usuario)
    display(createButton)
    display(readButton)
    display(readPerIdButton)
    display(updateButton)
    display(deleteButton)
output

Output()